.background-container {
    position: relative;
}

.background-image {
    width: 100%;
    height: auto;
    display: block;
    z-index: -1;
}

.logo-container {
    position: absolute;
    width: 100%;
    top: 10%;
    z-index: 1;
}

.logo {
    max-width: 100%;
    padding-left: 10%;
    left: 10%;
    width: 80%;
    height: auto;
    display: block;
}

.pokemon-container {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.taillow {
    position: absolute;
    top: 35%;
    left: 30%;
    width: 5vi;
}

.persian {
    position: absolute;
    top: 59.5%;
    left: 46%;
    width: 4vi;
}

.bulbasaur {
    position: absolute;
    top: 63%;
    left: 67%;
    width: 7.5vi;
}

.tepig {
    position: absolute;
    top: 64%;
    left: 80%;
    width: 7vi;
}

.deerling {
    position: absolute;
    top: 65%;
    left: 45%;
    width: 10vi;
}

.ponyta {
    position: absolute;
    top: 72%;
    left: 15%;   
    width: 40vi;
}