.background-container {
    position: relative;
}

.background-image {
    width: 100%;
    height: auto;
    display: block;
    z-index: -1;
}

.logo-container {
    position: absolute;
    top: 0;
    left: 50%;
    top: 10%;
    transform: translateX(-50%);
    z-index: 1;
}

.pokemon-container {
    position: absolute;
    top: 0;
    z-index: 1;
}

.taillow {
    position: relative;
    top: 800px;
    left: 600px;
    height: 20vh;
}

.persian {
    position: relative;
    top: 1400px;
    left: 500px;
    height: 10vh;
}

.bulbasaur {
    position: relative;
    top: 1550px;
    left: 1300px;
    height: 15vh;
}

.deerling {
    position: relative;
    top: 1800px;
    left: 500px;
    height: 30vh;

}

.ponyta {
    position: relative;
    top: 2420px;
    left: -300px;
    height: 50vh;
}